@charset "utf-8";
/* 居中布局 */
.l-container {
    /* max-width: 1414px; */
    max-width: 1414px;
    margin: 0 auto;
    height: 100%;
}
/* 顶部导航栏 */
.l-top {
    width: 100%;
    height: 57px;
    border-bottom: 1px solid #e2e2e2;
}
.l-top .l-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    white-space: nowrap; /* 不换行 */
}
/* logo */
.o-logo {
    width: 288px;
    display: block;
    height: 100%;
    background: url('../images/logo.png') no-repeat 50% 50%;
}
/* 导航栏菜单项 */
.c-tab {
    width: 730px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
}
.c-tab li {
    cursor: pointer;
    text-align: center;
    /* padding: 0 25px; */
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.c-tab__item {
    line-height: 57px;
    color: #333333;
}
.ui-active .c-tab__item,.ui-active .c-menu__item {
    color: #3ba8f0;
}
/* 新功能按钮 */
.new-btn-box {
    line-height: 57px;
}
.new-btn {
    width: 56px;
    font-size: 12px;
    color: #fff;
    display: block;
    padding-left: 6px;
    background-image: url('../images/tag.png');
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.o-btn {
    cursor: pointer;
    outline: none;
}
/* 搜索按钮 */
.o-search-btn {
    width: 20px;
    background-color: #fff;
}
.o-search-btn .o-icon {
    display: block;
}
.o-icon--search {
    width: 20px;
    height: 20px;
    background: url('../images/search.png') no-repeat 50% 50%;
}
.search-btn {
    width: 20px;
    height: 100%;
    display: block;
}
/* 用户信息 */
.user-info {
    padding-right: 34px;
    line-height: 57px;
}
.user-info__pic {
    display: inline-block;
    padding: 0 13px;
    vertical-align:middle;
    background: url('../images/avatar.png') no-repeat 50% 50%;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.user-info__pic::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    margin-left: 27px;
}
.user-info__name {
    font-size: 12px;
    color: #5d5d5d;
}
/* 主体布局 */
.l-content {
    margin-top: 25px;
    display: flex;
    width: 100%;
}
/* 侧边栏 */
.l-sidebar {
    width: 240px;
    height: 100%;
    float: left;
    border-right: 1px solid #999999;
    flex-shrink: 0;
}
.o-sidebar__hd {
    height: 34px;
    margin-bottom: 34px;
}
/* 侧边栏按钮 */
.o-back-btn {
    height: 100%;
    background-color: #fff;
    display: inline-block;
    font-size: 0; /* 解决子元素inline-block之间有缝隙问题*/
    /* letter-spacing: -2px; */
}
.o-back-btn .o-icon {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.o-icon--back {
    background: url('../images/prev.png') no-repeat;
}
.o-btn__txt {
    color: #a9a9a9;
    font-size: 20px;
    padding-left: 14px;
    display: inline-block;
    vertical-align: middle;
}
.o-menu-btn {
    height: 100%;
    float: right;
    padding-right: 13px;
    background-color: #fff;
}
.o-menu-btn .o-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.o-icon--menu {
    background: url('../images/menu.png') no-repeat;
}
/* 侧边栏菜单项 */
.c-menu__bd li {
    height: 60px;
    line-height: 60px;
    transition: 0.2s linear;
    cursor: pointer;
}
.c-menu__bd li.ui-active{
    background-color: #f4f5f5;
    border-left: 3px solid #3ba8f0;
}
.c-menu__item {
    padding-left:63px;
    font-size: 14px;
    color: #333333;
}
.c-menu__bd li:hover{
    background-color: #3ba8f0;
}
.c-menu__bd li:hover > a{
    color: #fff;
}
.c-menu__bd li:nth-child(1) a{
    background: url('../images/home.png') no-repeat 27px;
}
.c-menu__bd li:nth-child(2) a{
    background: url('../images/paper.png') no-repeat 27px;
}
.c-menu__bd li:nth-child(3) a{
    background: url('../images/class.png') no-repeat 27px;
}
.c-menu__bd li:nth-child(4) a{
    background: url('../images/time.png') no-repeat 27px;
}
/* 主体内容 */
.l-main {
    float: left;
    margin-left: 34px; 
    width: 100%;
}
.l-main__hd {
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #e2e2e2;
    line-height: 49px;
}
.o-main__title {
    font-size: 14px;
    color: #000;
    float: left;
}
.o-main-btns{
    float: right;
    height: 35px;
    margin-top: -5px;
    line-height: 35px;
}
.o-main__btn{
    width: 100px;
    height: 100%;
    border-radius: 5px;
    background-color: #3ca8f0;
    font-size: 12px;
    color: #fff;
}
/* 班级列表 */
.cl-intro {
    padding-top: 19px;
}
.cl-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}
.cl-list-item {
    width: 338px;
    height: 158px;
    border: 1px solid #dddddd;
    margin-right: 19px;
    margin-top: 19px;
    display: inline-block;
    transition: 0.5s linear;
    cursor: pointer;
}
.cl-list-item:hover {
    border: 1px solid #3ca8f0;
}
.cl-list-item__pic {

}
.cl-list-item__info {
    display: inline-block;
}